body {
background: #ccc;
font-family: verdana;
font-size: .9em;
}

body * {
position: relative;
}

h1, h2, h3, h4, h5, h6 {
margin: 0;
padding: 0;
font-weight: bold;
color: #000;
}

a:hover {
text-decoration: none;
}

.error, .empty {
color: #f00;
}

#title_pane {
margin: 5px;
border: none;
}

#title_pane h1 a {
color: #000;
position: relative;
}

#title_pane img,#title_pane h1 {
display: inline;
}

.toolbar {
margin-top: -25px;
clear: left;
padding-left: 100px;
border-bottom: 1px #000 solid;
}

.toolbar a {
text-decoration: none;
}

.toolbar form {
float: left;
margin: 0;
}

.toolbar input {
font-size: 8pt;
float: left;
margin: 0;
}

#nav {
padding: 6px 0;
margin: 0;
clear: left;
}

#nav li {
list-style-type: none;
display: inline;
margin: 0;
}

#nav li a {
padding: 5px 5px 6px 5px;
text-decoration: none;
background-color: #fff;
border: #000 1px solid;
font-family: arial;
font-size: 0.8em;
margin-left: 5px;
border-bottom: none;
}

#nav li a:hover {
background-color: #ccc;
}

#entire {
border: 1px #000 solid;
background-color: #fff;
margin: 25px;
}

#content_pane {
margin: 20px;
}
